<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,751},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>chongwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,484},{235,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,70}}</string>
                <key>sourceSize</key>
                <string>{235,70}</string>
            </dict>
            <key>daojvwlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{247,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,82}}</string>
                <key>sourceSize</key>
                <string>{247,82}</string>
            </dict>
            <key>daojvwlb_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,418},{309,160}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{309,160}}</string>
                <key>sourceSize</key>
                <string>{309,182}</string>
            </dict>
            <key>denglujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,484},{418,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,84}}</string>
                <key>sourceSize</key>
                <string>{418,84}</string>
            </dict>
            <key>gameshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,484},{237,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,85}}</string>
                <key>sourceSize</key>
                <string>{237,85}</string>
            </dict>
            <key>home.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>jineng_lili.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,372},{165,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,44}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>juli.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,206},{202,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,44}}</string>
                <key>sourceSize</key>
                <string>{202,44}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,904},{104,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,129}}</string>
                <key>sourceSize</key>
                <string>{104,129}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{244,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{244,80}</string>
            </dict>
            <key>name_lili.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,252},{112,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,15}}</string>
                <key>sourceSize</key>
                <string>{112,15}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,528},{111,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>renwu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,641},{108,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,39}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
            <key>renwushengji_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{966,450},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>renwushengji_hui.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{971,372},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>renwuzhuangbei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{218,202}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{218,202}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>stargame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,751},{235,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,77}}</string>
                <key>sourceSize</key>
                <string>{235,77}</string>
            </dict>
            <key>tanhao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,819},{35,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{35,59}</string>
            </dict>
            <key>wuqizhuangbei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,751},{236,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,69}}</string>
                <key>sourceSize</key>
                <string>{236,69}</string>
            </dict>
            <key>ziren.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,252},{118,200}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,17},{118,200}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335c8bdc9293f5206acfdbb9ae4044e4$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
