<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{305,285}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{305,285}}</string>
                <key>sourceSize</key>
                <string>{355,319}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{305,285}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{305,285}}</string>
                <key>sourceSize</key>
                <string>{355,319}</string>
            </dict>
            <key>bencifenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,344},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,26}</string>
            </dict>
            <key>best.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,309},{113,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{113,39}}</string>
                <key>sourceSize</key>
                <string>{121,45}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,137},{305,285}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{305,285}}</string>
                <key>sourceSize</key>
                <string>{355,319}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{305,285}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{305,285}}</string>
                <key>sourceSize</key>
                <string>{355,319}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,295},{109,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,44}}</string>
                <key>sourceSize</key>
                <string>{109,44}</string>
            </dict>
            <key>gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,344},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>paihang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,350},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>paihang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,372},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>qian_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,308},{202,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,44}}</string>
                <key>sourceSize</key>
                <string>{202,44}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,309},{180,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{180,33}}</string>
                <key>sourceSize</key>
                <string>{190,41}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{305,285}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{305,285}}</string>
                <key>sourceSize</key>
                <string>{355,319}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,134},{172,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,52}}</string>
                <key>sourceSize</key>
                <string>{174,52}</string>
            </dict>
            <key>tili_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,137},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>zaicitiaozhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,130}}</string>
                <key>sourceSize</key>
                <string>{362,130}</string>
            </dict>
            <key>zaicitiaozhan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{359,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,133}}</string>
                <key>sourceSize</key>
                <string>{359,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e1aa5f27823a64ce43907cadb986c9$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
