<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gohome1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,389},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>gohome2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,389},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>help1_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,478},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>help_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,88},{237,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,292}}</string>
                <key>sourceSize</key>
                <string>{237,292}</string>
            </dict>
            <key>help_item_noselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,88},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>help_item_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,88},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>help_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{197,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,60}}</string>
                <key>sourceSize</key>
                <string>{197,60}</string>
            </dict>
            <key>help_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{196,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,82}}</string>
                <key>sourceSize</key>
                <string>{196,82}</string>
            </dict>
            <key>help_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,327},{197,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,60}}</string>
                <key>sourceSize</key>
                <string>{197,60}</string>
            </dict>
            <key>help_zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,524},{196,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,59}}</string>
                <key>sourceSize</key>
                <string>{196,59}</string>
            </dict>
            <key>kongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{418,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,84}}</string>
                <key>sourceSize</key>
                <string>{418,84}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{111,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,39}}</string>
                <key>sourceSize</key>
                <string>{111,39}</string>
            </dict>
            <key>returngame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>returngame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,478},{110,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>sourceSize</key>
                <string>{110,44}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,189},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,75}</string>
            </dict>
            <key>show_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,327},{194,90}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{194,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>show_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,266},{210,132}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{210,132}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,115},{158,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{158,72}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{192,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>tili_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,380}}</string>
                <key>sourceSize</key>
                <string>{557,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a82b2829a1ca2483fc436e5d2001168$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
